<template>
  <div class="home">
    <nav-bar />
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <b-row class="text-center mr-auto">
      <b-col md="7" sm="12" xs="12">
        <art-work />
      </b-col>
      <b-col md="5" sm="12" xs="12">
        <queue />
      </b-col>
    </b-row>
    <b-row class="mr-auto">
      <bottom-bar />
    </b-row>
    
    
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import NavBar from '../components/NavBar.vue'
import ArtWork from '../components/ArtWork.vue'
import Queue from '../components/Queue.vue'
import BottomBar from '../components/BottomBar.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld,
    NavBar,
    ArtWork,
    Queue,
    BottomBar
  }
}
</script>
