<template>
  <div>
      <b-row class="p-100">
        <img
            :src="CurrentPoster.poster"
            class="img-fluid poster"
            alt="poster"
        />
      </b-row>
  </div>
</template>

<script>
export default {
    computed:{
        CurrentPoster(){
            return this.$store.getters.getCurrentSong;
        }
    }
}
</script>

<style>
.poster{
    width: 420px !important;
}
.p-100{
    padding: 100px;
}
</style>