<template>
  <b-row class="center">
      <b-col cols="3">
          <b-row>
            <b-col @click="handlePrev()"><b-icon icon="chevron-double-left" scale="2" ></b-icon></b-col>
            <b-col @click="handlePause()"><b-icon icon="play-fill" scale="3" ></b-icon></b-col>
            <b-col @click="handleNext()"><b-icon icon="chevron-double-right" scale="2" ></b-icon></b-col>
            <b-col>0:00/{{CurrentSong.duration}}</b-col>
          </b-row>
      </b-col>
      <b-col cols="6">
          <b-row class="queue-item middle">
            <b-col>
                <div class="">
                    <img
                        :src="CurrentSong.poster"
                        class="img-fluid queue-poster"
                        alt="poster"
                    />
                </div>
            </b-col>
            <b-col>
                <b-row class="song-title">{{CurrentSong.title}}</b-row>
                <b-row class="song-artist">{{CurrentSong.artists}}</b-row>
            </b-col>
        </b-row>
      </b-col>
      <b-col cols="3" @click="handleShuffle()"><b-icon icon="shuffle" scale="2" ></b-icon></b-col>
  </b-row>
</template>

<script>
import {Howl, Howler} from 'howler';

export default {
    computed:{
        CurrentSong(){
            return this.$store.getters.getCurrentSong;
        }
    },
    updated(){
        var sound = new Howl({
            src: [this.CurrentSong.audio]
        });

        //sound.play();
    },
    methods:{
        handlePrev(){
            this.$store.commit("playPrevSong", this.CurrentSong);
        },
        handleNext(){
            this.$store.commit("playNextSong",this.CurrentSong);
        },
        handlePause(){

        },
        handleShuffle(){
            this.$store.commit("shuffleCurrentQueue");
        }
    }
}
</script>

<style scoped>
.middle{
    text-align-last: right;
}
</style>