<template>
  <div>
        <nav-bar />

        <b-row class="m-auto black">
        <b-col cols="4" v-for="song in Songs" :key="song.id" class="custom-card">
            <b-card>
                <p>
                    <!-- <Icon type="ios-film-outline"></Icon> -->
                    <b-icon icon="play-fill" scale="3" ></b-icon> &nbsp;
                    {{ song.title }}
                </p>
                <div class="image-size">
                    <img
                        :src="song.poster"
                        class="img-fluid rounded-start moviePoster"
                        alt="poster"
                    />
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">
                      Artists:
                      <span class="movieActors">{{ song.artists }}</span>
                    </li>
                    <li class="list-group-item ">
                      Duration:
                      <span class="movieProducer">{{ song.duration }}</span>
                    </li>
                </ul>
            </b-card>
        </b-col>
        </b-row>
  </div>
</template>

<script>
import NavBar from './NavBar.vue';
import api from '../API/APICalls.js';

export default {
    components: { NavBar },
    name: 'Library',
    computed:{
        Songs(){
            return api.getSongs();
        }
    }
}
</script>

<style scoped>
    .custom-card{
        margin-bottom: 20px;
        padding: 10px;
        background: black;
        color: white;
    }
    .model-header{
      color:#f60;
      text-align:center;
    }
    .image-size{
      max-width: 280px;
      display: block;
      margin: auto
    }
    .list-group-item{
        background: black;
        color: white;
    }
    .card{
        background: black;
        color: white;
    }
</style>