<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark" >
        <b-navbar-brand href="#"><img src="../assets/logodark.svg"/> </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="m-auto">
            <b-nav-item to="/">Home</b-nav-item>
            <b-nav-item to="/">Hotlist</b-nav-item>
            <b-nav-item to="/library">Library</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <!-- <b-navbar-nav class="ml-auto">
            <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
            </b-nav-form>

        </b-navbar-nav> -->
        </b-collapse>
    </b-navbar>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>