<template>
  <div class="container mt-2">
    <b-row class="center">
      <b-col>Queue</b-col>
      <b-col>
        <!-- <b-form-input
          id="input-small"
          size="sm"
          placeholder="Search"
        ></b-form-input> -->
        <vue-autosuggest
            v-model="query"
            :suggestions="filteredOptions"
            @click="clickHandler"
            @selected="onSelected"
            :get-suggestion-value="getSuggestionValue"
            :input-props="{id:'autosuggest__input', placeholder:'Search'}">
            <div slot-scope="{suggestion}" class="autosuggest-suggestions" >
                <img :style="{ display: 'flex', width: '25px', height: '25px', borderRadius: '15px', marginRight: '10px'}" :src="suggestion.item.poster" />
                <div >{{suggestion.item.title}}</div>
            </div>
        </vue-autosuggest>
      </b-col>
    </b-row>
    <b-row class="queue-item" v-for="song in CurrentQueue" :key="song.id" @click="changeSong(song)">
        <b-col>
            <div class="">
                <img
                    :src="song.poster"
                    class="img-fluid queue-poster"
                    alt="poster"
                />
            </div>
        </b-col>
        <b-col>
            <b-row class="song-title">{{song.title}}</b-row>
            <b-row class="song-artist">{{song.artists}}</b-row>
        </b-col>
        <b-col class="duration">{{song.duration}}</b-col>
    </b-row>
  </div>
</template>

<script>
import { VueAutosuggest } from 'vue-autosuggest';
import api from '../API/APICalls.js';

export default {
    data(){
        return{
            query: "",
            suggestions: [
                {
                    data: []
                }
            ]
        }
    },
    components: {
        VueAutosuggest
    },
    created(){
    },
    computed: {
        Songs(){
            return api.getSongs();
        },
        CurrentQueue(){
            return this.$store.getters.getCurrentQueue;
        },
        filteredOptions() {
            return [
                { 
                    data: this.Songs.filter(song => {
                        return song.title.toLowerCase().indexOf(this.query.toLowerCase()) > -1;
                    })
                }
            ];
        }
    },
    methods:{
        changeSong(song){
            this.$store.commit("setCurrentSong", song);
        },
        clickHandler(item) {
            console.log(item);
        },
        onSelected(item) {
            this.$store.commit("setCurrentQueue", item.item);
        },
        getSuggestionValue(suggestion) {
            return suggestion.item.name;
        }
    }
};
</script>

<style>
.queue-item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}
.queue-poster{
    width: 45px;
}
.song-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.song-artist{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
}
.duration{
    align-self: center;
}
.center{
    align-items: center;
}
.autosuggest__results-container{
    position: absolute;
    background-color: black;
}
.autosuggest-suggestions{
    display: flex;
    align-items: center;
    
}
</style>
